/* Datepicker Related */
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

/* Tabs related */
form.tab-form-demo .tab-pane {
  margin: 20px 20px;
}

/* Tooltip Related */
.tooltip.customClass .tooltip-inner {
  color: #880000;
  background-color: #ffff66;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.tooltip.customClass .tooltip-arrow {
  display: none;
}